page-home {

ion-title{
	text-align: center;
}

ion-list{
	box-shadow: 10px 10px 8px gray;
}

ion-input{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}


h2 {
	text-align: center;
	color: #5F9EA0;
}

}
